.container {
    width: 80%;
 
    margin: 5% auto;
}

.blog-content-container{
    width: 70%;
    height:70%;
    margin: 5% auto;
}

.groupTitle{
   font-size: 20px;
   color:red;
   margin-bottom: 5%;
}
.textdesprition{
    font-size:22px;
    line-height: 35px;
}